:root {
    --color-grey: grey;
    --color-black: black;
}
.one {
    color: white;
    background-color: var(--main-bg-color);
}
body {
    font-size: 100%;
    font-family: "Noto Sans JP", sans-serif;
    color: var(--color-grey);
}
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.flex--between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.flex--ver-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.container {
    max-width: 73.125em;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.menu__item {
    position: relative;
}
.menu__item:not(:last-child) {
    margin-right: 1em;
}
.menu__link,
.menu__sub-link {
    color: var(--color-grey);
    -webkit-transition: color 0.25s ease;
    -o-transition: color 0.25s ease;
    transition: color 0.25s ease;
    display: block;
    padding: 0.4em 0.9em;
}
.menu__link:hover,
.menu__sub-link:hover {
    color: var(--color-black);
    background: var(--color-grey);
}

.menu__sub-menu {
    position: absolute;
    top: 0;
    visibility: hidden;
}
.menu__item:hover .menu__sub-menu {
    visibility: visible;
    top: 100%;
}
.menu__img {
    width: 32px;
    height: 32px;
    opacity: 0.4;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    margin: auto 3px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.menu__img:hover,
.menu__img--active {
    cursor: pointer;
    opacity: 1;
}
.search__bar {
    margin-right: 2em;
}
.search__form {
    border-radius: 8em;
    border: 0.1em solid rgba(218, 208, 190, 1);
    -webkit-box-shadow: 0 0 0.3em rgba(60, 60, 60, 0.4);
    box-shadow: 0 0 0.3em rgba(60, 60, 60, 0.4);
    background: transparent;
    position: relative;
}
.search__form:after {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    top: 0;
    background: url(https://i.imgur.com/U3Nlo0t.png);
    background-size: contain;
    -webkit-transform: translateY(10%);
    -ms-transform: translateY(10%);
    transform: translateY(10%);
    z-index: -1;
}
.search__input {
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    width: 1px;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    opacity: 0;
    width: 1em;
    padding: 0.3em 0.7em;
}

.search__input:focus {
    width: 8em;
    opacity: 1;
}
.search__label {
    padding-left: 1px;
    display: inline-block;
    margin-top: 0.3em;
    color: rgba(218, 208, 190, 1);
    text-shadow: 0 0 0.1em rgba(60, 60, 60, 0.3);
    position: relative;
    left: 0.1em;
}

.burger-menu_button {
    position: relative;
    width: 30px;
    height: 30px;
    display: none;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.burger-menu_button:hover .burger-menu_lines {
    -webkit-filter: brightness(0.7);
    filter: brightness(0.7);
}

.burger-menu_button:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.burger-menu_lines::before,
.burger-menu_lines::after,
.burger-menu_lines {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: var(--color-grey);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.burger-menu_lines {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.burger-menu_lines::before {
    content: "";
    top: -9px;
}
.burger-menu_lines::after {
    content: "";
    top: 9px;
}

.burger-menu_active .burger-menu_lines {
    background-color: transparent;
}
.burger-menu_active .burger-menu_lines::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.burger-menu_active .burger-menu_lines::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-width: 768px) {
    body {
        overflow: hidden;
    }
    .burger-menu_button {
        display: block;
    }
    .menu__list {
        position: fixed;
        top: -100%;
        z-index: 20;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        height: 200px;
        left: 0;
        right: 0;
        background-color: #f9afe9;
        overflow-y: auto;
        -webkit-transition: 0.8s;
        -o-transition: 0.8s;
        transition: 0.8s;
    }
    .burger-menu_active .menu__list {
        top: 0;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
    }
    .menu__item {
        display: inline-block;
        max-width: 150px;
    }
    .menu__item:hover .menu__sub-menu {
        visibility: visible;
        left: 100%;
        top: 0;
    }
}
